jupyter_contrib_nbextensions
ipywidgets==7.4.2
widgetsnbextension==3.4.2
pyforest 
ipython
pandas
yellowbrick==1.1
matplotlib
plotly
ppscore
klib
pandas_profiling
seaborn==0.10.0
jupyterlab_launcher>=0.5.0
